.qr-horizontal-card {
  height: 250px;
  max-height: 250px;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.qr-adder-card {
  height: 250px;
  max-height: 250px;
  border-radius: .25rem;
  border: 2px dashed rgba(0, 0, 0, 0.125);
  display: flex;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(300,300,300,1);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
