@mixin qr-horizontal-card {
  height: 250px;
  max-height: 250px;
  border-radius: .25rem;
  border-color: rgba(0, 0, 0, .125);
}

.qr-horizontal-card {
  @include qr-horizontal-card;
  border-width: 1px;
  border-style: solid;
}

.qr-adder-card {
  @include qr-horizontal-card;
  border-width: 2px;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  position: relative;
  display: inline;
  margin: auto;
  height: 100%;
  width: 100%;
}